@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-100.otf") format("opentype"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-100-It.otf") format("opentype"); font-weight: 100; font-style: italic; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-200.otf") format("opentype"); font-weight: 200; font-style: normal; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-200-It.otf") format("opentype"); font-weight: 200; font-style: italic; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-400.otf") format("opentype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-400-It.otf") format("opentype"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-700.otf") format("opentype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-700-It.otf") format("opentype"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-900.otf") format("opentype"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Helvetica Neue'; src: url("../fonts/HelveticaNeueLTStd-900-It.otf") format("opentype"); font-weight: 900; font-style: italic; }
