html {
  font-size: 10px;
}

body {
  background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;
  font-size: 1.6em;
  line-height: 1.5em;
  text-align: center;
}

ul {
  list-style: none;
}

.pageContainer {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  margin: 3em auto;
  padding: 3em 5ex;
  width: 90%;
}

.contentWrapper > header h1 {
  color: #557799;
  margin-top: 0;
  text-shadow: 0 1px 1px #000;
}

.top-bar {
  background: none;
  border-radius: 5px;
}

.top-bar-section ul,
.no-js .top-bar-section ul {
  background: #557799;
  background: -moz-linear-gradient(top, #557799 0%, #557799 50%, #7e95ad 85%, #7e95ad 100%);
  background: -webkit-linear-gradient(top, #557799 0%, #557799 50%, #7e95ad 85%, #7e95ad 100%);
  background: -o-linear-gradient(top, #557799 0%, #557799 50%, #7e95ad 85%, #7e95ad 100%);
  background: -ms-linear-gradient(top, #557799 0%, #557799 50%, #7e95ad 85%, #7e95ad 100%);
  background: linear-gradient(to bottom, #557799 0%, #557799 50%, #7e95ad 85%, #7e95ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$mainColor', endColorstr='#7e95ad',GradientType=0 );
  width: 33.33333%;
}
.top-bar-section ul li,
.no-js .top-bar-section ul li {
  background: none;
  width: 100%;
}
.top-bar-section ul li a:not(.button),
.no-js .top-bar-section ul li a:not(.button) {
  background-color: rgba(255, 255, 255, 0.25);
}
.top-bar-section ul li:hover > a,
.no-js .top-bar-section ul li:hover > a {
  background-color: rgba(255, 255, 255, 0);
}
.top-bar-section ul:first-child,
.no-js .top-bar-section ul:first-child {
  border-radius: 5px 0 0 5px;
}
.top-bar-section ul:last-child,
.no-js .top-bar-section ul:last-child {
  border-radius: 0 5px 5px 0;
}
