$bodyTextColor: #FFF;
$primaryColor: #DD4411;
$darkPrimaryColor: darken($primaryColor, 10%);
$secondaryColor: $primaryColor;//#3FA85E;
$pageWidth: 1080px;
$tabletBreakpoint: 768px;
$iPhone4Breakpoint: 640px;
$nexusBreakpoint: 480px;

@import '_responsive';
@import '_modal';
@import '_event';

@mixin main-gradient($hasRoundedBorders: false) {
    $lightGradient: lighten($secondaryColor, 10%);
    $gradientChangePoint: 60%;
    background: $secondaryColor;
    background: -moz-linear-gradient(top,  $secondaryColor 0%, $secondaryColor $gradientChangePoint, $lightGradient 100%);
    background: -webkit-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: -o-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: -ms-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: linear-gradient(to bottom,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0,startColorstr='#{$secondaryColor}', endColorstr='#{$lightGradient}' );

    @if $hasRoundedBorders {
        .lt-ie10 & {
            background: $secondaryColor;
            filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
        }
    }
}

@mixin content-with-gradient($hasRoundedBorders: false) {
    @include main-gradient($hasRoundedBorders);
    $color: #FFF;
    color: $color;
    box-shadow: 0 1px 2px rgba(#000,0.4);
    text-shadow: 0 1px 1px darken($color, 60%);

    a {
        color: #FFF;
    }
}

@mixin transition($property, $time, $timingFunction) {
    -moz-transition: $property $time $timingFunction;
    -webkit-transition: $property $time $timingFunction;
    transition: $property $time $timingFunction;
}

html {
    font-size: 10px;

    &.lt-ie9 {
        body {
            background: none;
        }

        .chromeframe {
            color: #222;
            font-size: 2em;
            margin: 2em auto;
            width: 60%;
        }

        .pageContainer {
            display: none;
        }
    }
}

body {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    color: $bodyTextColor;
    font-size: 1.4em;
    height: 100%;
    line-height: 1.5em;
    text-align: center;

    &.no-scroll {
        overflow-y: hidden;
    }
}

h2 {
    color: $secondaryColor;
    font-size: 2em;
    text-align: center;
}

a {
    color: $primaryColor;

    &:hover,
    &:focus {
        color: $darkPrimaryColor;
    }
}

ul {
    list-style: none;
}

dl {
    text-align: right;

    dt {
        clear: left;
        font-weight: bold;
        float: left;
        min-height: 2em;
        margin-right: 2ex;
        min-width: 10ex;

        label {
            font-weight: inherit;
        }
    }

    dd {
        display: block;
        min-height: 2em;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

button,
.button {
    @include content-with-gradient(true);
    border-radius: 5px;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: $darkPrimaryColor;
        outline: none;
    }
}

button.close:before,
.button.close:before {
    content: "X";
}

label.radio {
    display: inline;
    margin-right: 3.5ex;
}

input[type=radio] {
    margin: 0 0.5ex 0 0;
    vertical-align: text-bottom;
}

$contentPaddingSides: 40px;
.pageContainer {
    background-color: rgba(#000, 0.75);
    box-shadow: 0 0 1px rgba(#000,0.6);
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: $pageWidth;

    $headerPaddingVertical: 1em;
    $headerHeight: 5em;
    > header {
        display: table;

        h1 {
            background: #000;
            color: $primaryColor;
            display: table-row;
            font: 900 2.5em/1.25em "Rotis Sans Serif","Helvetica Neue",Helvetica;
            width: 100%;

            .logoWrapper {
                text-align: left;

                .logo {
                    vertical-align: middle;

                    @include respond-to(max-width, $nexusBreakpoint) {
                        display: none;
                    }
                }
            }

            @include respond-to(max-width, $nexusBreakpoint) {
                font-size: 2em;
            }

            > div {
                display: table-cell;
                min-height: $headerHeight;
                padding: $headerPaddingVertical 0;
                vertical-align: middle;

                &:first-child {
                    width: 250px;

                    @include respond-to(max-width, $iPhone4Breakpoint) {
                        display: none;
                    }
                }

                &.title {
                    padding: $headerPaddingVertical 1ex;
                }

                &:last-child {
                    width: 190px;

                    @include respond-to(max-width, 800px) {
                        display: none;
                    }
                }
            }
        }
    }

    @include respond-to(max-width, $pageWidth) {
        width: 100%;
    }
}

.contentWrapper {
    padding: 3em $contentPaddingSides 1.5em;

    > .row {
        max-width: 100%;

        section {
            margin-bottom: 5em;
        }
    }
}

.mainMenu ul {
    @include content-with-gradient;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    width: 100%;

    li {
        background-color: rgba(#FFF, 0);

        &:hover {
            background-color: rgba(#FFF, 0.12);
        }

        a {
            display: block;
        }

        @include respond-to(max-width, $nexusBreakpoint) {
            display: block;
            width: 100%;
        }
    }
}

#about {
    text-align: left;

    ul {
        list-style: disc;
        padding: 0 4ex;
    }

    .signaturesBlock {
        > div {
            float: left;
            font-size: (6em / 7);
            line-height: 1.75em;
            text-align: center;
            width: 33%;

            @include respond-to(max-width, $nexusBreakpoint) {
                margin-bottom: 2em;
                width: 100%;
            }
        }

        img {
            border-radius: 5px;
            height: 75px;
            margin-bottom: 1em;
        }

        .name {
            font-weight: bold;
            font-size: (7em / 6);
        }
    }
}

#schedule {
    margin: 0 0 3em;

    .fc-header {
        background: none;
        border: none;

        td {
            vertical-align: middle;
        }
    }

    .fc-header-title > h2 {
        color: $secondaryColor;
        font-size: 2em;

        @include respond-to(max-width, $nexusBreakpoint) {
            font-size: 1.75em;
            white-space: normal;
        }
    }

    .fc-agenda-slots td div {
        height: 4em;
    }

    .fc-content {
        font-size: (8em/7);

        table {
            border-radius: 3px;

            thead {
                text-indent: -999em;
            }
        }

        .fc-event {
            color: #222;
            cursor: pointer;
        }

        .fc-event-inner {
            padding: 0.25em 0.75ex;
        }

        .fc-event-title {
            font-weight: bold;
        }

        .fc-event-presenters {
            font-style: italic;
        }

        .fc-event-presenters,
        .fc-event-location,
        .fc-event-time {
            font-size: (6em/7);
        }
    }

    .fc-state-default {
        @include content-with-gradient(true);
        background-repeat: repeat-x;

        .fc-text-arrow {
            display: block;
            height: 0.85em;
            line-height: 0.85em;
        }
    }

    .fc-view > div > div:last-child {
        overflow-y: hidden !important;
    }
}

$width: 90%;
#questions {
    text-align: left;

    h2 {
        text-align: left;
    }

    #addQuestionForm {
        input {
            border-radius: 5px;
            display: inline;
            width: $width;
        }

        button {
            height: 2em;
            line-height: 0;
            margin: 0 0 0 1.5ex;
            padding: 0 0 5px;
            postion: relative;
            top: -1px;
            width: 2em;
        }
    }

    .listing {
        color: #222;

        .questionItem {
            background: rgba(#FFF, 0.9);
            border-radius: 7px;
            margin: 1em 0 0;
            padding: 0.5em 3ex;
            @include transition(background, 1s, ease-out);

            &.highlighted {
                background: lighten($primaryColor, 20%);
            }
        }

        .question {
            display: inline-block;
            min-height: 2.8em;
            width: $width;
        }

        .votingWrapper {
            float: right;
            text-align: center;

            .votePositive {
                height: 1.5em;
                line-height: 1.5em;
                margin: 0;
                padding: 0;
                width: 3ex;
            }

            .votes {
                font-size: 0.9em;
            }
        }
    }
}


footer {
    margin: 3em 0 0;
    padding: 3em $contentPaddingSides;
    text-align: center;

    img {
        height: 125px;
        margin-bottom: 1.5em;
    }
}