$bodyTextColor: #FFF;
$primaryColor: #D41;
$darkPrimaryColor: darken($primaryColor, 10%);
$secondaryColor: $primaryColor;//#3FA85E;
$headerFontFamily: "Rotis Sans Serif","Helvetica Neue",Helvetica;
$pageWidth: 1080px;
$tabletBreakpoint: 768px;
$iPhone4Breakpoint: 640px;
$nexusBreakpoint: 480px;

@import '_responsive';
@import '_modal';
@import '_event';

@mixin header-font() {
    color: $primaryColor;
    font: 900 2.5em/1.25em $headerFontFamily;
}

html {
    font-size: 10px;
}

body {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    color: $bodyTextColor;
    font-size: 1.4em;
    height: 100%;
    line-height: 1.5em;
    text-align: center;

    &.no-scroll {
        overflow-y: hidden;
    }
}

a {
    color: $primaryColor;

    &:hover,
    &:focus {
        color: $darkPrimaryColor;
    }
}

ul {
    list-style: none;
}

dl {
    text-align: right;

    dt {
        clear: left;
        font-weight: bold;
        float: left;
        min-height: 2em;
        margin-right: 2ex;
        min-width: 10ex;

        label {
            font-weight: inherit;
        }
    }

    dd {
        display: block;
        min-height: 2em;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

button,
.button {
    background-color: $primaryColor;
    border-color: $darkPrimaryColor;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: $darkPrimaryColor;
        outline: none;
    }
}

button.close:before,
.button.close:before {
    content: "x";
}

label.radio {
    display: inline;
    margin-right: 3.5ex;
}

input[type=radio] {
    margin: 0 0.5ex 0 0;
    vertical-align: text-bottom;
}

$contentPaddingSides: 40px;
.pageContainer {
    background-color: rgba(#000, 0.6);
    box-shadow: 0 0 1px rgba(#000,0.6);
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: $pageWidth;

    $headerPaddingVertical: 1em;
    $headerHeight: 5em;
    > header {
        display: table;

        h1 {
            background: #000;
            display: table-row;
            @include header-font;
            width: 100%;

            .logoWrapper {
                text-align: left;

                .logo {
                    vertical-align: middle;

                    @include respond-to(max-width, $nexusBreakpoint) {
                        display: none;
                    }
                }
            }

            > div {
                display: table-cell;
                min-height: $headerHeight;
                padding: $headerPaddingVertical 0;
                vertical-align: middle;

                &:first-child {
                    width: 250px;

                    @include respond-to(max-width, $iPhone4Breakpoint) {
                        display: none;
                    }
                }

                &.title {
                    padding: $headerPaddingVertical 1ex;
                }

                &:last-child {
                    width: 190px;

                    @include respond-to(max-width, 800px) {
                        display: none;
                    }
                }
            }
        }
    }

    @include respond-to(max-width, $pageWidth) {
        width: 100%;
    }
}

.contentWrapper {
    padding: 3em $contentPaddingSides;

    > .row {
        max-width: 100%;

        section {
            margin-bottom: 3em;
        }
    }
}

$textColor: #FFF;
$lightGradient: lighten($secondaryColor, 10%);
$gradientChangePoint: 60%;
.mainMenu ul {
    background: $secondaryColor;
    background: -moz-linear-gradient(top,  $secondaryColor 0%, $secondaryColor $gradientChangePoint, $lightGradient 100%);
    background: -webkit-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: -o-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: -ms-linear-gradient(top,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    background: linear-gradient(to bottom,  $secondaryColor 0%,$secondaryColor $gradientChangePoint,$lightGradient 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondaryColor', endColorstr='$lightGradient',GradientType=0 );

    box-shadow: 0 1px 2px rgba(#000,0.4);
    font: bold 1.75em/2em $headerFontFamily;
    text-shadow: 0 1px 1px darken($textColor, 60%);
    width: 100%;

    li {
        background-color: rgba(#FFF, 0);

        &:hover {
            background-color: rgba(#FFF, 0.12);
        }

        a {
            color: $textColor;
            display: block;
        }

        @include respond-to(max-width, $nexusBreakpoint) {
            display: block;
            width: 100%;
        }
    }
}

$sectionMargin: 3em 0;
#cube {
    margin: $sectionMargin;
}

#questions {
    margin: $sectionMargin;

    > header h1 {
        color: $secondaryColor;
        font-size: 2em;
    }
}

#schedule {
    margin: $sectionMargin;

    .fc-header {
        background: none;
        border: none;

        td {
            vertical-align: middle;

            @include respond-to(max-width, $tabletBreakpoint) {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
    }


    .fc-header-title > h2 {
        @include header-font;
    }

    .fc-content table {
        border-radius: 3px;
    }

    .fc-state-default {
        background: #ffffff;
        background: -moz-linear-gradient(top,  #ffffff 0%, $secondaryColor 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,$secondaryColor));
        background: -webkit-linear-gradient(top,  #ffffff 0%,$secondaryColor 100%);
        background: -o-linear-gradient(top,  #ffffff 0%,$secondaryColor 100%);
        background: -ms-linear-gradient(top,  #ffffff 0%,$secondaryColor 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,$secondaryColor 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$secondaryColor',GradientType=0 );

        background-repeat: repeat-x;
    }

    .addEvent {
        font-size: 1.25em;
    }
}

