$radius: 5px;

html,
body {
    height: 100%;
}

#yj-embed {
    background-color: #FFF;
    border-radius: ($radius * 2);
    margin: 0 auto;
    text-align: left;
    width: 75%;

    @include respond-to(max-width, 800px) {
        width: 100%;
    }

    .yj-component .yj-btn {
        @include main-gradient;
    }

    .yj-hd {
        border-radius: $radius $radius 0 0;

        h3 {
            background-color: $primaryColor !important;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: $radius $radius 0 0;
            text-align: center;
        }

        .yj-publisher-textarea.yj-auto-width-fake-textarea {
            height: 3em;
        }
    }

    .yj-ft {
        border-radius: 0 0 $radius $radius;
    }
}