@import "_settings.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "_footer.scss";

.no-scroll {
  overflow-y: hidden;
}

.mainMenu,
.icon-bar {
  max-height: 6rem;
  background-color: $primary-color;
  a:hover {
    background-color: scale-color($primary-color, $lightness: $button-function-factor);;
  }
}

.custom-postfix {
  height: 3.1235rem;
}

.hint-text { 
  font-size: 0.8rem;
}

.alert-color {
  color: red;
}

.logo {
  margin-top: 0.5em;
}

h1, h4 {
  color: #32864b;
  font-weight: bold;
}

.main-title { 
  color: white;
  font-size: $h4-font-size;
  padding-top: 0.5em;
  
  @media #{$medium-up} {
    font-size: 2em;
  }
}

.custom-label {
  padding: 0.5rem 0 0.5rem 0;
}

header {
  margin-bottom: 2rem;
  background-color: $primary-color;
  color: white;
}

#addQuestionForm {
  margin-bottom: 2rem;
}

.top-bar {
	background-color: #32864b;
}

.contentWrapper {
  @media #{$medium-up} { 
    padding: 0 25px 0 25px;
  }

  @media #{$small-only} { 
    padding: 0 25px 0 25px;
  }	
}

.top-bar-section {
  position: relative;
  z-index: 300;
}

.fix-header-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padded-column {
  padding: 0 25px 0 25px;

}

.voting-buttons {
  padding-top: 25px;
}

.voting-nums {
  @media #{medium-up} {
    padding-top: 0.8rem;
    
    .count {
      font-size: 1.2rem;
    }    
  }
  
  padding-top: 0.5rem;

  .count {
    font-size: 1.5rem;
  }
}

.votePositive {
  @media #{medium-up} {
    margin-right: 0.25rem;
  }
}