@import "_settings.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "_footer.scss";

.no-scroll {
  overflow-y: hidden;
}

.mainMenu,
.icon-bar {
  max-height: 93px;
  background-color: $primary-color;
  a:hover {
    background-color: scale-color($primary-color, $lightness: $button-function-factor);;
  }
}

.top-bar {
	background-color: #32864b;
}

.contentWrapper {
  @media #{$medium-up} { 
    padding: 0 50px 0 50px;
  }

  @media #{$small-only} { 
    padding: 0 25px 0 25px;
  }	
}

.top-bar-section {
  position: relative;
  z-index: 300;
}

.fix-header-row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}