<form id="editEvent" class="eventInfo" action="/#/save-event" method="POST">
    <dl>
        <dt><label for="addEvent-title">Title</label></dt>
        <dd><input id="addEvent-title" name="title" value="<%= model.title %>" /></dd>
        <dt><label for="addEvent-startDate">Start Date</label></dt>
        <dd><input id="addEvent-startDate" name="startDate" value="<%= model.start %>" /></dd>
        <dt><label for="addEvent-endDate">End Date</label></dt>
        <dd><input id="addEvent-endDate" name="endDate" value="<%= model.end %>" /></dd>
        <dt><label for="addEvent-location">Location</label></dt>
        <dd><input id="addEvent-location" name="location" value="<%= model.location %>" /></dd>
        <dt><label>All day?</label></dt>
        <dd>
            <input type="radio" id="addEvent-allDay-yes" name="allDay" value="1" <% if (model.allDay) print("checked"); %> />
            <label class="radio" for="addEvent-allDay-yes">Yes</label>
            <input type="radio" id="addEvent-allDay-no" name="allDay" value="0" <% if (!model.allDay) print("checked"); %> />
            <label class="radio" for="addEvent-allDay-no">No</label>
        </dd>
    </dl>

    <dl class="attendees">
        <dt><label>Attendees</label></dt>
    <% 
        _.each(model.attendees, function(attendee) { 
            var template = _.template(attendeeTemplate);
            print(template(attendee));
        });
    %>
        <dt><a class="addAttendee" href="">+ Add attendee</a></dt>
    </dl>
    <div class="clearfix">
        <button class="save" type="submit">Save</button>
        <a href="/" class="button cancel">Cancel</a>
    </div>
</form>
