<section id="eventDetails" class="eventInfo">
    <header>
        <h1><%= title %></h1>
    </header>

    <dl>
        <dt>Start Date</dt>
        <dd><%= start %></dd>
        <dt>End Date</dt>
        <dd><%= end %></dd>
    </dl>
    <dl class="location">
        <dt>Location</dt>
        <dd><%= location %></dd>
        <dt>Presenters</dt>
        <%
            var str = "";
            _.each(presenters, function(presenter, i) {
                str = str + ", " + presenter.name;
            });
            var index = str.lastIndexOf(",");
            if (index > 0) {
                str = str.substring(2, index + 1) + " &" + str.substr(index + 1);
            } else {
                str = str.substring(2);
            }
        %>
        <dd><%= str %></dd>
    </dl>
    <div><%= description %></div>
</section>
