<section id="eventDetails" class="eventInfo">
    <header>
        <h1><%= title %></h1>
    </header>

    <dl>
        <dt>Start Date</dt>
        <dd><%= start %></dd>
        <dt>End Date</dt>
        <dd><%= end %></dd>
    </dl>
    <dl class="location">
        <dt>Location</dt>
        <dd><%= location %></dd>
        <dt>Presenters</dt>
        <%
            var str = "",
                glue = ", ";
            _.each(presenters, function(presenter, i) {
                if (i === presenters.length - 1) {
                    glue = " & ";
                }
                str = str + glue + presenter.name;
            });
        %>
        <dd><%= str.substring(2) %></dd>
    </dl>
    <div><%= description %></div>
</section>
