<a href="#/">
    <h1>
        <div><img class="logo" src="img/accenture-logo-orange.png" alt="Accenture" /></div>
        <div class="title">2013 NA/LA Technology Architecture Workshop</div>
        <div><img class="highPerformanceLogo" src="img/high-performance-logo-orange.png" alt="High Performance. Delivered." /></div>
    </h1>
</a>