<div class="row">
    <section id="about" class="large-6 columns">
        <h2>Welcome to the FY13 Technology Architecture Workshop</h2>

        <p>Our theme this year is “Architects Enabling the Digital Business”, recognizing the vital role we will all play in defining and constructing the digital future for our clients.  Over the next three days, we have organized a thought-provoking and dynamic agenda that will expose you to exciting areas of technology innovation &amp; digital architecture success stories:</p>

        <ul>
            <li>49 break-out sessions covering topics ranging from Quantum Computing to PaaS</li>
            <li>Engaging keynote sessions with compelling insights on the future of Drone Technology, Telepresence Robots &amp; more!</li>
            <li>Fun networking opportunities where you can even show-off your helicopter piloting skills</li>
            <li>Technology Architecture Achievement Awards</li>
        </ul>

        <p>We look forward to seeing you!</p>

        <div class="signaturesBlock">
            <div>
                <img src="img/adam.png" alt="Adam Signature" />
                <div>Adam Burden</div>
                <div>Managing Director</div>
                <div>Emerging Technologies Innovation</div>
                <div>Global Lead</div>
            </div>
            <div>
                <img src="img/tony.png" alt="Tony Signature" />
                <div>Anthony Roby</div>
                <div>Managing Director</div>
                <div>Emerging Technologies Innovation</div>
                <div>Title</div>
            </div>
            <div>
                <img src="img/dan.png" alt="Dan Signature" />
                <div>Dan Garrison</div>
                <div>Managing Director</div>
                <div>AD&amp;I</div>
                <div>Title</div>
            </div>
        </div>
    </section>

    <section id="twitter" class="large-6 columns">
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23acntaw2013" data-widget-id="355371026185613312">Tweets about "#acntaw2013"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
</div>

<section id="schedule">
    <div class="calendar"></div>
</section>