<div class="menuToggleWrapper">
    <label>Menu</label>
    <button type="button" class="menuToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<ul class="row collapsed">
    <li class="large-3 small-3 columns"><a href="#/">Home</a></li>
    <li class="large-3 small-3 columns"><a href="#/schedule">Schedule</a></li>
    <li class="large-3 small-3 columns"><a href="social.html">Social</a></li>
    <li class="large-3 small-3 columns"><a href="#/questions">Ask</a></li>
</ul>
