<section id="questions">
    <h2>Questions</h2>
    <div class="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat cursus massa. Suspendisse potenti. Vivamus eget euismod sem. Proin non cursus mi, et congue dui. Aliquam eleifend et diam eu volutpat. Duis egestas, enim ornare ultrices consequat, erat quam eleifend est, a pulvinar nunc enim et velit. Ut sodales nunc sit amet augue porttitor, eu pulvinar orci sollicitudin. Donec sagittis ut risus quis ornare.</p>
        <p>Sed auctor ornare ante, at imperdiet metus viverra et. Nulla facilisi. Ut tortor libero, eleifend vel sapien vel, fermentum ultrices velit. Nullam ut elit nec urna laoreet dictum in sed quam. Proin vitae lectus molestie, mollis mi eget, egestas mauris. Quisque eu eleifend diam. In eu venenatis nisi, nec hendrerit tellus. Phasellus lacinia eleifend magna, eget egestas nunc malesuada eu. </p>
    </div>
    <form id="addQuestionForm">
        <input type="text" id="addQuestionForm-question" name="question" required placeholder="Enter your question here" />
        <button id="addQuestionForm-add">+</button>
    </form>
    <div class="listing clearfix"></div>
</section>