<div class="question">{{question}}</div>
<div class="votingWrapper">
    <button class="votePositive" data-id="{{id}}" title="Vote">+1</button>
    <div class="votes"><span class="count">{{votes}}</span> vote{{handleVotes votes}}</div>
</div>