<div class="row full-width">
	<div class="powered-by">Powered By</div>
	<div class="small-12">
    	<img class="aowpLogo" src="img/aowp-logo.png" alt="Built with Accenture Open Web Platform" />
		<p>Question/Comments/Issues please send to:<br />
			<a href="mailto:AOWP.Support@accenture.com">AOWP.Support@accenture.com</a>
		</p>
	</div>
</div>