<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row full-width">
	<div class="small-12">
    	<img class="aowpLogo" src="img/acn-owp-logo.png" alt="Built with Accenture Open Web Platform" />
		<p>Question/Comments/Issues please send to:<br />
			<a href="mailto:AOWP.Support@accenture.com">AOWP.Support@accenture.com</a>
		</p>
	</div>
	<h3>Authors:</h3>
	<div>Alejandro León <a class="email" href="mailto:a.leon.escalera@accenture.com">a.leon.escalera@accenture.com</a></div>
	<div>Matthew Lancaster <a class="email" href="mailto:matthew.d.lancaster@accenture.com">matthew.d.lancaster@accenture.com</a></div>
</div>