<div class="row fix-header-row">
    <div class="hide-for-small medium-3 columns">
    	<img class="logo" src="img/accenture-logo-orange.png" alt="Accenture" />
    </div>
    <div class="small-12 medium-6 columns">
    	<h1>2015 NA/LA Technology Architecture Workshop</h1>
	</div>
    <div class="hide-for-small medium-3 columns">
    	<img class="highPerformanceLogo" src="img/high-performance-logo-green.png" alt="High Performance. Delivered." />
	</div>
</div>
