<section id="about" class="clearfix">
    <h2>Welcome to the FY15 Technology Architecture Workshop</h2>

    <p>In our new point of view, Accenture urges every company to adopt a fundamentally new approach to the business of applications.  We need to help our clients understand how the three new strategies- liquid, intelligent and connected- can help them master the realities of today’s high-velocity and software-driven business world.  These strategies will differentiate Accenture and strengthen our leadership position in the multi-billion dollar application services marketplace. </p>

    <p>The workshop breakout topics are categorized in alignment with three strategies</p>
    <ul>
        <li>liquid</li>
        <li>intelligent</li>
        <li>connected</li>
    </ul>
    <p>allowing you to learn more about each of them over the course of this workshop.  </p>
    <p>We look forward to seeing you!</p>

    <div class="text-center row">
        <div class="small-6 medium-3  columns">
            <img src="img/adam.burden.jpg" alt="Adam Burden" />
            <div class="name">Adam Burden</div>
            <div class="hide-for-small">Global and NA Lead</div>
            <div class="hide-for-small">Advanced Technology & Architecture</div>
        </div>
        <div class="small-6 medium-3  columns">
            <img src="img/nigel.barnes.jpg" alt="Nigel Barnes" />
            <div class="name">Nigel Barnes </div>
            <div class="hide-for-small">Accenture Global Lead Architect, and Lead</div>
            <div class="hide-for-small">Architecture Group & EALA – Advanced Technology & Architecture</div>
        </div>
        <div class="small-6 medium-3  columns">
            <img src="img/ezio.armando.jpg" alt="Ezio Armando" />
            <div class="name">Ezio Armando</div>
            <div class="hide-for-small">Global Lead, Architecture Technology Expert Network (TEN) and Master Technology Architect (MTA) Program</div>
        </div>
        <div class="small-6 medium-3  columns">
            <img src="img/sven.loberg.jpg" alt="Sven Loberg" />
            <div class="name">Sven Loberg</div>
            <div class="hide-for-small">Managing Director within Advanced Technology & Architecture's (ATA) Emerging Technology practice</div>
        </div>
    </div>
</section>

<section id="schedule">
    <p class="hide text-center">Please click on any section below to find the location and for more information.</p>
    <div class="calendar"></div>
</section>
