<div class="control-section">
<div class="row">
    <div class="large-12 columns">
        <form class="wide-spread">
        <div class="row collapse">
            <div class="small-8 medium-6 medium-offset-2 columns">
                <input type="text" placeholder="Choose a username" name="username" id="username" required>
            </div>
            <div class="small-4 medium-2 columns end">
                <button class="button postfix blue-button custom-postfix">Enter</button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>