
<div class="show-for-medium-up">
<div class="icon-bar five-up">
  <a class="item" href="#/">
    <i class="fa fa-home fa-3x"></i>
    <label>Home</label>
  </a>
  <a class="item" href="#/schedule">
    <i class="fa fa-calendar fa-3x"></i>
    <label>Schedule</label>
  </a>
  <a class="item" href="#/social">
    <i class="fa fa-users fa-3x"></i>
    <label>Social</label>
  </a>
  <a class="item" href="#/questions">
    <i class="fa fa-weixin fa-3x"></i>
    <label>Ask</label>
  </a>
  <a class="item" href="#/nominate">
    <i class="fa fa-trophy fa-3x"></i>
    <label>Nominate</label>
  </a>
</div>
</div>

<div class=" show-for-small-only">
    <div class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
    <li class="name">
      <h1><a href="#"></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

        <section class="top-bar-section">
            <ul class="">
                <li class="active"><a href="#/"><i class="fa fa-home"></i>
    Home</a></li>
                <li class="active"><a href="#/schedule"><i class="fa fa-calendar"></i>
    Schedule</a></li>
                <li class="active"><a href="#/social"><i class="fa fa-users"></i>
    Social</a></li>
                <li class="active"><a href="#/questions"><i class="fa fa-weixin"></i>
    Ask</a></li>
                <li class="active"><a href="#/nominate"> <i class="fa fa-trophy"></i>
    Nominate</a></li>
                
            </ul>   
        </section>
    </div>
</div>
