<div class="icon-bar four-up">
  <a class="item" href="#">
    <i class="fa fa-home fa-3x"></i>
    <label>Home</label>
  </a>
  <a class="item" href="#schedule">
    <i class="fa fa-calendar fa-3x"></i>
    <label>Schedule</label>
  </a>
  <a class="item" href="#social">
    <i class="fa fa-users fa-3x"></i>
    <label>Social</label>
  </a>
  <a class="item" href="#questions">
    <i class="fa fa-weixin fa-3x"></i>
    <label>Ask</label>
  </a>
</div>
