<div class="panel callout clearfix">
		<div class="avatar small-3 medium-2 columns"><img src="{{imagePath}}" alt=""/></div>
		<div class="description small-9 medium-10 columns"><h2>{{name}}</h2><br/>{{description}}</div>
		<div class="small-12 medium-12 columns">
			<label>
				<input required type="text" name="why" placeholder="Tell us why you choose this presenter for nomination."></input>
			</label>
		</div>

		<div class="small-12 medium-12 columns">
			<label>
				<input required type="text" name="name" placeholder="Let us know who you are."></input>
			</label>
		</div>

		<div class="medium-5 columns">
			<div class="row">
				<div class="medium-6 columns">
					<button class="show-presenters button expand medium-6 columns">Back</button>
				</div>
				<div class="medium-6 columns">
					<button class="nominate button expand ">Nominate Now</button>
				</div>
			</div>
		</div>
</div>
