<div class="presenter row">
	<div class="avatar small-3 medium-2 columns"><img src="{{imagePath}}" alt=""/></div>
	<div class="description small-9 medium-7 columns"><h2>{{name}}</h2><br/>{{description}}</div>
	<div class="small-12 medium-2 columns">
		<button class="show-detail button expand">Nominate</button>
	</div>
</div>
