<div class="presentations row">
	<div class="description small-8 medium-10 columns"><b>{{subject}}</b></div>
	<div class="small-4 medium-2 columns">
		<p>Star Average: {{average}}<p>
		<p>Nr. of votes {{value}}</p>
	</div>
</div>
