<section>
    <form id="addQuestionForm" >
        <div class="row collapse">
            <div class="small-9 medium-10 columns">
                <textarea id="question-textarea" name="question" required placeholder="Enter your feedback here" />
                <div class="hint-text">
                    <span id="counter">0</span> characters entered
                </div>
            </div>
            <div class="small-3 medium-2 columns">
                <button class="button radius postfix custom-postfix" id="addQuestionForm-add"><i class="fa fa-paper-plane"></i> Post</button> 
            </div>
        </div>
    </form>
     <div class="row">
         <div class="small-12 label custom-label">
            <strong>Total Feedback: <span id="nr-of-questions">0</span></strong>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns padded-column">
            <div class="row">
                <div class="small-12 medium-12 columns text-center custom-label">
                    <h4>New Feedback</h4>
                </div>     
            </div>
            <div id="new-questions"></div>
        </div>
        <div class="small-12 medium-6 columns padded-column ">
            <h4 class="text-center custom-label">Most Voted Feedback</h4>
            <div id="top-questions"></div>
        </div>
    </div>
</section>
