<sectionc id="questions">
    <h2>Submit your questions below</h2>
    <div class="intro">
        <p>New questions are appended at the end of the list. Questions are ordered by number of votes. You can upvote each question only once thus moving it up the list.</p>
    </div>
    <form id="addQuestionForm" >
        <div class="row collapse">
            <div class="small-9 medium-10 columns">
                <input type="text" id="addQuestionForm-question" name="question" required placeholder="Enter your question here" />
            </div>
            <div class="small-3 medium-2 columns">
                <button class="button radius postfix" id="addQuestionForm-add">Post</button>
            </div>
        </div>

    </form>
    <div class="listing"></div>
</section>
