<section id="questions">
    <h2>Ask the Leadership</h2>
    <div class="intro">
        <p>During Wednesday morning's plenary, we will be holding a Q&amp;A session with the Accenture Leadership panel. Please use the form below to submit your questions. You can also "+1" other questions that have been submitted below so that we can ensure the most popular ones are asked.</p>
    </div>
    <form id="addQuestionForm">
        <input type="text" id="addQuestionForm-question" name="question" required placeholder="Enter your question here" />
        <button id="addQuestionForm-add">+</button>
    </form>
    <div class="listing clearfix"></div>
</section>