<div class="question small-9 medium-10 columns">{{question}}</div>
<div class="votingWrapper small-3 medium-2 columns">
    <button class="votePositive button expand radius" data-id="{{id}}" title="Vote"><i class="fa fa-plus"> 1</i></button>
    <div class="votes text-center"><span class="count">{{votes}}</span> vote{{handleVotes votes}}</div>
</div>
