<section>
    <form id="addQuestionForm" >
        <div class="row collapse">
            <div class="small-9 medium-10 columns">
                <input type="text" id="addQuestionForm-question" name="question" required placeholder="Enter your question here" />
            </div>
            <div class="small-3 medium-2 columns">
                <button class="button radius postfix" id="addQuestionForm-add">Post</button>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="small-12 medium-6 columns padded-column">
            <div class="row">
                <div class="small-10 medium-10 columns">
                    <h4>New Questions</h4>
                </div>
                <div class="small-2 medium-2 columns">
                    <span id="nr-of-questions" class="label">0</span>
                </div>
            </div>
            <div id="new-questions"></div>
        </div>
        <div class="small-12 medium-6 columns padded-column">
            <h4>Most Voted Questions</h4>
            <div id="top-questions"></div>
        </div>
    </div>
</section>
