<section class="control-section">

    <div class="row" id="ratings" class="rating-margin"></div>

    <div class="row" id="question-form"></div>

    <div class="row">
      <div class="small-12 medium-offset-8 medium-4 text-center custom-label columns right">
        Total Questions <span id="nr-of-questions">0</span>
      </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="small-12 medium-6 columns padded-column">
            <div class="row">
                <div class="small-12 medium-12 columns text-center custom-label">
                    <h4>New Questions</h4>
                </div>
            </div>
            <div id="new-questions"></div>
        </div>
        <div class="small-12 medium-6 columns padded-column ">
            <div class="row">
                <div class="small-12 medium-12 columns text-center custom-label">
                    <h4 >Most Popular Questions</h4>
                </div>
            </div>
            <div id="top-questions"></div>
        </div>
    </div>
</section>
