<div class="contentWrapper">
    <section id="feed">
        <h2>What are people saying about the workshop?</h2>
        <br/>
        <div id="embedded-feed" style="height:600px;"></div>
    </section>
</div>